<template>
  <div class="groups">
    <TheGroup v-for="group in groups" :group="group" :key="group.id" />
  </div>
</template>

<script>

import TheGroup from '@/components/TheGroup'
export default {
  name: 'ProgramGroups',
  components: { TheGroup },
  props: {
    groups: {
      type: Array,
      required: true
    }
  }
}
</script>

<style lang="scss">
.groups {

}
</style>
