<template>
  <div class="program-list">
    <TheProgram class="program-list__program" v-for="program in programs" :program="program" :key="program.id" />
  </div>
</template>

<script>

import TheProgram from '@/components/TheProgram'
export default {
  name: 'ProgramList',
  components: { TheProgram },
  props: {
    programs: {
      type: Array,
      required: true
    }
  }
}
</script>

<style lang="scss">
.program-list {
  &__program {
    margin-bottom: 8px;
  }
}
</style>
