<template>
  <div class="program-toolbar">
    <div class="program-toolbar__title">
      Учебные группы <span class="program-toolbar__count">{{count}}</span>
    </div>
    <Multiselect
        class="program-toolbar__select"
        placeholder="Все года"
        :allow-empty="false"
        :options="years"
        :custom-label="getCustomLabel"
        selected-label="Выбрано"
        select-label="Выбрать"
        deselect-label="Выбрано"
        :value="currentYear"
        :searchable="false"
        @input="$emit('change', $event)"
    >
      <template #caret="{ toggle }">
        <div class="multiselect__caret-container" @mousedown.prevent.stop="toggle()">
          <svg class="multiselect__caret" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 13L12.0063 9.99997L9 13" stroke="#43B6B8" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </template>
    </Multiselect>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect/src/Multiselect';

export default {
  name: 'ProgramToolbar',
  model: {
    prop: 'currentYear',
    event: 'change'
  },
  props: {
    count: {
      type: Number,
      required: true
    },
    years: {
      type: Array,
      required: true
    },
    currentYear: {
      type: Number,
      required: true
    }
  },
  components: { Multiselect },
  methods: {
    getCustomLabel(value) {
      // console.log(value, value ? value : 'Все года');
       return value ? value : 'Все года';
    }
  }
}
</script>

<style lang="scss">
  @import '~vue-multiselect/dist/vue-multiselect.min';

  .program-toolbar {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(117, 120, 123, 0.08);
    height: 81px;
    display: flex;
    align-items: center;
    padding: 0 32px;
    justify-content: space-between;

    &__title {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
      color: #0D1A28;
    }

    &__count {

    }

    &__select {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.4px;
      min-height: 32px;
      max-width: 176px;

      & .multiselect__caret-container {
        top: 1px;
        position: absolute;
        z-index: 1;
        right: 1px;
        display: flex;
        height: 30px;
        align-items: center;
        padding: 4px;
        text-decoration: none;
        cursor: pointer;
      }

      & .multiselect__caret {
        transition: transform .3s ease;
      }

      &:not(.multiselect--active) .multiselect__caret {
        transform: rotate(180deg);
      }

      & .multiselect__tags {
        font-size: 12px;
        border-radius: 4px !important;
        border-color: #43B6B8;
        min-height: 32px;
        padding: 0 30px 0 12px;
        transition: border-color .3s;
        position: relative;
      }

      & .multiselect__input,
      & .multiselect__single {
        background-color: transparent;
        font-size: 12px;
        margin: 0;
        padding-left: 0;
        line-height: 30px;
        letter-spacing: 0.4px;
      }
      & .multiselect__single {
        white-space: nowrap;
        overflow: hidden;
        max-width: calc(100% - 42px);
        text-overflow: ellipsis;
        position: absolute;
      }

      & .multiselect__content-wrapper,
      &.multiselect--above .multiselect__content-wrapper {
        border: none;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        margin: 8px 0;
        padding: 8px 0;
      }

      & .multiselect__option {
        padding: 8px 12px;
        min-height: 32px;
        &::after {
          font-size: 11px;
          line-height: 32px;
          letter-spacing: 0.4px;
        }
      }

      & .multiselect__option--highlight {
        background-color: #F3FEFF;
        color: #43B6B8;
        &::after {
          background-color: transparent;
          color: #43B6B8;
        }
      }

      & .multiselect__option--selected {
        background-color: transparent;
        color: #1E989A;
        font-weight: 500;
        letter-spacing: 0.25px;
        &::after {
          background-color: transparent;
          color: #18304C;
        }
      }
    }
  }
</style>
