<template>
  <div class="group">
    {{group.caption}}
  </div>
</template>

<script>

export default {
  name: 'TheGroup',
  props: {
    group: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss">
.group {
  border-top: 1px solid #F4F6F8;
  height: 48px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.4px;
  color: #43B6B8;
  padding: 0 32px;
  display: flex;
  align-items: center;
}
</style>
