<template>
  <div class="program">
    <div class="program__header">
      <div class="program__caption">{{program.caption}}</div>
      <svg @click="open = !open" class="program__arrow" :class="{'program__arrow--opened': open}" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 9L11.9875 15L18 9" stroke="#43B6B8" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <ProgramGroups v-show="open" :groups="program.studyGroups" />
  </div>
</template>

<script>
import ProgramGroups from '@/components/ProgramGroups'

export default {
  name: 'TheProgram',
  components: { ProgramGroups },
  data: () => ({
    open: false,
  }),
  props: {
    program: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss">
.program {
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(117, 120, 123, 0.08);
  border-radius: 4px;
  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 12px 0 16px;
    height: 48px;
  }
  &__caption {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #0D1A28;
  }
  &__arrow {
    cursor: pointer;
    transition: transform .3s;
    &--opened {
      transform: rotate(180deg);
    }
  }
}
</style>
