<template>
  <div id="app">
    <ProgramToolbar :count="groupsCount" :years="years" v-model="selectedYear" />
    <ProgramList class="app__program-list" :programs="filteredPrograms" />
  </div>
</template>

<script>
import Api from '@/service/api';
import ProgramToolbar from './components/ProgramToolbar'
import ProgramList from './components/ProgramList'

export default {
  name: 'App',
  data: () => ({
    programs: [],
    selectedYear: 0,
  }),
  components: {
    ProgramList,
    ProgramToolbar
  },
  computed: {
    groupsCount() {
      return this.programs.reduce((acc, program) => {
        acc += program.studyGroups && program.studyGroups.length;
        return acc;
      }, 0);
    },
    years() {
      let years = new Set([0]);
      this.programs.forEach(program => {
        program.studyGroups.forEach(group => {
          years.add(group.startYear);
        })
      });

      return [...years].sort((a, b) => {
        if(!a) {
          return -1;
        }
        if(!b) {
          return 1;
        }
        return a > b ? -1 : 1
      });
    },
    filteredPrograms() {
      if(!this.selectedYear) {
        return this.programs;
      }
      return this.programs.reduce((acc, program) => {
        const studyGroups = program.studyGroups.filter(group => group.startYear === this.selectedYear);
        if(studyGroups.length) {
          acc.push({
            ...program,
            studyGroups,
          })
        }
        return acc;
      }, []);
    }
  },
  mounted () {
    Api.getGroupsByPrograms().then(programs => {
      programs.forEach(program => {
        program.studyGroups.forEach(group => {
          group.startYear = new Date(group.startDate).getFullYear();
        })
      });
      this.programs = programs;
    })
  }
}
</script>

<style lang="scss">
.app__program-list {
  margin: 32px;
}
</style>
