@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');

html, body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #18304C;
  background-color: #FAFAFA;
}
